[Unit]
Description=Fridgetracker startup script

[Service]
WorkingDirectory=/opt/fridgetracker
ExecStart=/usr/bin/python3 /opt/fridgetracker/fridgetracker.py

[Install]
WantedBy=multi-user.target